<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minotor</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">

</head>

<body>

<div class="container">
    <div class="starter-template">
        <h1>{% block header %}<img src="/bull.png" class="pull-left" /> Minotor <small>Yet another super logger</small>{% endblock %}</h1>
        <hr />
    </div>

    {% block body %}{% endblock %}

    <hr />

    <footer class="text-center text-muted">
    {% block footer %}
      {% include "version.twig" %}
    {% endblock %}
    </footer>

</div><!-- /.container -->

</body>
</html>
