{% extends "base.twig" %}

{% block body %}

    <div class="alert alert-danger">

        <h3>Gloups, something went wrong :/</h3>

        <p>
            {{ error.message }}
        </p>

    </div>

    <br />

    <a href="/" class="btn btn-link">Homepage</a>

{% endblock %}