{% extends "base.twig" %}

{% block header %}
    {{ parent() }}

    <img src="{{ user.avatar_url }}" class="avatar pull-right" alt="{{ user.name }}" />

{% endblock %}

{% block body %}

    <h3>Welcome {{ user.name }},</h3>

    <table class="table">

        <thead>
            <tr>
                <th>Service</th>
                <th>URL</th>
            </tr>
        </thead>

        <tr>
            <td>elasticsearch</td>
            <td><a href="//es.minotor.affichage.cloud">es.minotor.affichage.cloud</a> </td>
        </tr>

        <tr>
            <td>kibana</td>
            <td><a href="//kibana.minotor.affichage.cloud">kibana.minotor.affichage.cloud</a> </td>
        </tr>

        <tr>
            <td>logstash</td>
            <td><a href="//logstash.minotor.affichage.cloud">logstash.minotor.affichage.cloud</a> </td>
        </tr>

        <tr>
            <td>CRON</td>
            <td><a href="//cron.minotor.affichage.cloud">cron.minotor.affichage.cloud</a> </td>
        </tr>

        <tr>
            <td>elasticsearch head</td>
            <td><a href="//head.minotor.affichage.cloud">head.minotor.affichage.cloud</a> </td>
        </tr>

    </table>

    <a href="/logout" class="btn btn-danger">Logout</a>

    <style>
        img.avatar
        {
            width: 48px;
            height: 48px;
            border-radius: 24px;
        }
    </style>

{% endblock %}
