{% extends "base.twig" %}

{% block body %}
    <div class="text-center alert alert-warning">
        <p>This is a secured area, you must login first:</p>
        <p>
            <a href="/connect" class="btn btn-success">Authenticate me via Gitlab</a>
        </p>
    </div>
{% endblock %}